.whatsapp-check-container{
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.dialog-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

button{
  width: 90%;
  position: absolute;
  top: 13rem;
  justify-self: flex-end;
}
