  <div class="dialog-container">
    <h4>
      {{data.userId? "Editar contato": "Adicionar novo contato"}}
    </h4>
    <form action="" [formGroup]="data.formData" (ngSubmit)='submit()'>
      <mat-form-field appearance="fill">
        <mat-label>Tipo de Contato</mat-label>
        <mat-select  [disabled]="data.userId" (selectionChange)="clearFields()" formControlName="type">
          <mat-option  *ngFor="let type of data.contactTypes" [value]="type.id">
            {{type.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="data.formData?.value?.type === 2" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field *ngIf="data.formData?.value?.type === 1" appearance="outline">
        <mat-label>Telefone</mat-label>
        <input formControlName="phone" matInput maxlength="11" (keypress)="isNumber($event)" placeholder="Telefone">
      </mat-form-field>
      <section class="whatsapp-check-container" *ngIf="data.formData?.value?.type === 1">
        <mat-checkbox  formControlName="isWhatsapp" class="example-margin">Whatsapp</mat-checkbox>
      </section>
       <button [disabled]="
       !data.formData.valid ||
       !(data?.formData?.value?.phone?.length > 0 || data?.formData?.value?.email?.length > 0)" type='submit' mat-raised-button color="primary">Cadastrar</button>
    </form>
  </div>
