<mat-card>
  <h3>
    {{userId ? "Editar Usuário" : "Novo Usuário"}}
  </h3>
<form [formGroup]="userForm" (submit)='saveUser()'>
  <div class="form-container-row">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sobrenome</mat-label>
      <input matInput formControlName="surname" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <mat-accordion>
    <mat-expansion-panel
    (opened)="true"
    (closed)="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>
            Contatos
          </h4>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="contacts" class="mat-elevation-z8 ">
        <ng-container matColumnDef="identifier">
          <th mat-header-cell *matHeaderCellDef> Contato </th>
          <td mat-cell *matCellDef="let element"> {{element.identifier}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element">{{
            element.contactTypeName
          }}</td>
        </ng-container>

        <ng-container matColumnDef="whatsapp">
          <th mat-header-cell *matHeaderCellDef> Whatsapp </th>
          <td mat-cell *matCellDef="let element">{{element.isWhatsapp ? "Sim": "Não"}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element"><mat-icon (click)="deleteContact({id: element?.id, identifier: element.identifier})">delete</mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['identifier', 'type', 'whatsapp', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['identifier', 'type', 'whatsapp', 'actions'];"></tr>
      </table>
      <button mat-raised-button type="button" (click)="openDialog()">Adicionar</button>

    </mat-expansion-panel>
  </mat-accordion>
  <div class="buttons-container">
    <button mat-raised-button type="button">Cancelar</button>
    <button [disabled]="!userForm.valid || contacts.length <= 0"
    type='submit'
     mat-raised-button class="register-button">Cadastrar</button>
  </div>
</form>

</mat-card>


