mat-card{
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media(min-width: 28.75rem){
    width: 70%;
  }
}

form{
  width: 100%;
}
.form-container-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    @media(min-width: 28.75rem){
      flex-direction: row;
      mat-form-field{
        width: 35%;
      }
    }
}

.whatsapp-check-container{
  width: 100%;
  display: flex;
  padding-right: 10%;
  justify-content: flex-end;
}

.whatsapp-logo{
  width: 1.5rem;
  height: 1.5rem;
}

.buttons-container{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  button{
    width: 10rem;
  }
  .register-button{
    background-color: #06ac06;
    color: #fff;
  }
}

table{
  width: 100%;
  margin-bottom: .5rem;
}

mat-icon{
  cursor: pointer;
}

